 .u-section-1 {
  min-height: 566px;
}

.u-section-1 .u-image-1 {
  height: 511px;
  margin-top: 89px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: -312px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: -92px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3630px;
}

.u-section-2 .u-text-1 {
  width: auto;
  font-weight: 700;
  margin: -41444px 6px 0;
}

.u-section-2 .u-text-2 {
  width: 328px;
  margin: 60px 806px 0 6px;
}

.u-section-2 .u-text-3 {
  text-shadow: 3px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.5rem;
  font-weight: normal;
  letter-spacing: normal;
  margin: 60px 0 0;
}

.u-section-2 .u-text-4 {
  width: auto;
  margin: 167px 0 0 12px;
}

.u-section-2 .u-text-5 {
  text-shadow: 3px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.5rem;
  font-weight: normal;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  width: auto;
  margin: 20px 0 0 12px;
}

.u-section-2 .u-text-7 {
  text-shadow: 3px 2px 8px rgba(0,0,0,0.4);
  font-size: 4.5rem;
  font-weight: normal;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  width: auto;
  margin: 20px 0 0 12px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 77px;
  margin: 135px auto 0 532px;
}

.u-section-2 .u-text-9 {
  width: auto;
  font-weight: 700;
  margin: 20px 406px 0;
}

.u-section-2 .u-text-10 {
  width: auto;
  font-weight: 700;
  margin: 20px 406px 0;
}

.u-section-2 .u-text-11 {
  width: 328px;
  margin: 20px 806px 0 6px;
}

.u-section-2 .u-text-12 {
  text-shadow: 3px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.15;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: 0px;
  width: 184px;
  margin: 19px 478px 0;
}

.u-section-2 .u-text-13 {
  width: auto;
  margin: 167px 0 0 812px;
}

.u-section-2 .u-text-14 {
  text-shadow: 3px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.15;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: 0px;
  width: 184px;
  margin: 20px 478px 0;
}

.u-section-2 .u-text-15 {
  width: auto;
  margin: 20px 0 0 812px;
}

.u-section-2 .u-text-16 {
  text-shadow: 3px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.15;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: 0px;
  width: 184px;
  margin: 20px 878px 0 78px;
}

.u-section-2 .u-text-17 {
  width: auto;
  margin: 20px 0 0 812px;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 37610px 375px 0 34px;
}

.u-section-2 .u-text-19 {
  font-size: 1.5625rem;
  margin: 34px 34px 0;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 308px;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 123px 416px 0;
}

.u-section-2 .u-line-2 {
  width: 116px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 512px;
}

.u-section-2 .u-text-21 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 101px 0 848px;
}

.u-section-2 .u-text-22 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  width: 236px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -66px 452px 0;
}

.u-section-2 .u-text-23 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -66px 826px 0 78px;
}

.u-section-2 .u-text-24 {
  font-size: 1.5625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 773px 0 26px;
}

.u-section-2 .u-text-25 {
  font-size: 1.5625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -440px 26px 0 773px;
}

.u-section-2 .u-text-26 {
  font-size: 1.5625rem;
  width: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -314px 400px 0;
}

.u-section-2 .u-text-27 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  margin: 249px 416px 0;
}

.u-section-2 .u-line-3 {
  width: 116px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -3px auto 0;
}

.u-section-2 .u-image-1 {
  width: 491px;
  height: 263px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 0 46px;
}

.u-section-2 .u-image-2 {
  width: 492px;
  height: 263px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -263px 46px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 491px;
  height: 251px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0 46px;
}

.u-section-2 .u-image-4 {
  width: 492px;
  height: 251px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -251px 51px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 500px;
  height: 281px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0 37px;
}

.u-section-2 .u-image-6 {
  width: 487px;
  height: 281px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -281px 51px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 500px;
  height: 279px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0 37px;
}

.u-section-2 .u-image-8 {
  width: 499px;
  height: 279px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -279px 46px 0 auto;
}

.u-section-2 .u-image-9 {
  width: 661px;
  height: 661px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -146px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3794px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 712px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-5 {
    font-size: 3.75rem;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-7 {
    font-size: 3.75rem;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 712px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 100px;
    margin-left: 712px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 100px;
    margin-left: 712px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 856px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 100px;
    margin-left: 712px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 36465px;
    margin-right: 366px;
    margin-left: 46px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 37px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-21 {
    width: 198px;
    margin-top: 119px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-top: -58px;
    margin-right: 41px;
    margin-left: 663px;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-top: -74px;
    margin-right: 632px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-top: 23px;
    margin-right: 599px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-25 {
    width: 243px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-top: -421px;
    margin-right: 16px;
    margin-left: 638px;
  }

  .u-section-2 .u-text-27 {
    width: 308px;
    margin-top: 167px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-3 {
    margin-left: 389px;
  }

  .u-section-2 .u-image-1 {
    width: 409px;
    height: 227px;
    margin-top: 67px;
    margin-left: 53px;
  }

  .u-section-2 .u-image-2 {
    width: 404px;
    height: 227px;
    margin-top: -227px;
    margin-right: auto;
    margin-left: 483px;
  }

  .u-section-2 .u-image-3 {
    width: 409px;
    height: 213px;
    margin-top: 16px;
    margin-left: 53px;
  }

  .u-section-2 .u-image-4 {
    width: 405px;
    height: 213px;
    margin-top: -213px;
    margin-right: auto;
    margin-left: 482px;
  }

  .u-section-2 .u-image-5 {
    width: 417px;
    height: 234px;
    margin-top: 16px;
    margin-left: 53px;
  }

  .u-section-2 .u-image-6 {
    width: 404px;
    height: 234px;
    margin-top: -234px;
    margin-right: 53px;
  }

  .u-section-2 .u-image-7 {
    width: 417px;
    height: 233px;
    margin-top: 16px;
    margin-left: 53px;
  }

  .u-section-2 .u-image-8 {
    width: 396px;
    height: 233px;
    margin-top: -233px;
    margin-right: 53px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -105px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 602px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 602px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 210px;
    margin-left: 602px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 210px;
    margin-left: 602px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 746px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 210px;
    margin-left: 602px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 37929px;
    margin-left: 240px;
    margin-right: 240px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 416px;
    margin-right: 416px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 210px;
    margin-left: 739px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 452px;
    margin-right: 452px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 694px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 589px;
    margin-left: 288px;
  }

  .u-section-2 .u-text-25 {
    margin-right: 210px;
    margin-left: 649px;
  }

  .u-section-2 .u-text-26 {
    margin-top: 206px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-line-3 {
    margin-left: 279px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 290px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 154px;
    margin-left: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6053px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 512px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-7 {
    font-size: 3rem;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 512px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 300px;
    margin-left: 512px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 300px;
    margin-left: 512px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 656px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 300px;
    margin-left: 512px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 9767px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 46px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 83px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: 619px;
    margin-right: 184px;
    margin-left: 158px;
  }

  .u-section-2 .u-text-22 {
    width: 235px;
    margin-top: 391px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-23 {
    width: 234px;
    margin-top: -1052px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-24 {
    width: 410px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-25 {
    width: 373px;
    margin-top: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-26 {
    width: 398px;
    margin-top: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-27 {
    margin-top: 91px;
  }

  .u-section-2 .u-line-3 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 62px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: 310px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: -506px;
    margin-right: auto;
  }

  .u-section-2 .u-image-7 {
    margin-top: 310px;
    margin-left: auto;
  }

  .u-section-2 .u-image-8 {
    margin-top: 38px;
    margin-right: auto;
  }

  .u-section-2 .u-image-9 {
    height: 540px;
    margin-top: -59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6000px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 412px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.15;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    letter-spacing: 0px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.15;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    letter-spacing: 0px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.15;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    letter-spacing: 0px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 412px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 400px;
    margin-left: 412px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 400px;
    margin-left: 412px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 556px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 400px;
    margin-left: 412px;
  }

  .u-section-2 .u-text-18 {
    font-size: 3rem;
    margin-top: 11393px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 34px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-20 {
    font-size: 3rem;
    width: 246px;
    margin-top: 61px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-text-21 {
    font-size: 3rem;
    width: 163px;
    margin-top: 654px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-22 {
    font-size: 3rem;
    margin-top: 362px;
  }

  .u-section-2 .u-text-23 {
    font-size: 3rem;
    width: 192px;
    margin-top: -1066px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-25 {
    width: auto;
    margin-top: 94px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-top: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-27 {
    font-size: 3rem;
    width: auto;
    margin-top: 100px;
  }

  .u-section-2 .u-line-3 {
    margin-top: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 189px;
    width: 340px;
    margin-top: 68px;
  }

  .u-section-2 .u-image-2 {
    height: 191px;
    width: 340px;
  }

  .u-section-2 .u-image-3 {
    height: 177px;
    width: 340px;
    margin-top: 115px;
  }

  .u-section-2 .u-image-4 {
    height: 179px;
    width: 340px;
    margin-top: -168px;
  }

  .u-section-2 .u-image-5 {
    height: 191px;
    margin-top: 39px;
    width: 340px;
  }

  .u-section-2 .u-image-6 {
    height: 197px;
    margin-top: 33px;
    width: 340px;
  }

  .u-section-2 .u-image-7 {
    height: 190px;
    margin-top: 33px;
    width: 340px;
  }

  .u-section-2 .u-image-8 {
    height: 200px;
    margin-top: 33px;
    width: 340px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -139px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}