.u-section-1 .u-sheet-1 {
  min-height: 7072px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -93px 520px 0 496px;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: 108px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 254px;
  margin: 31px auto 0;
}

.u-section-1 .u-image-2 {
  width: 252px;
  height: 252px;
  margin: 35px auto 0 167px;
}

.u-section-1 .u-image-3 {
  width: 256px;
  height: 256px;
  margin: -252px auto 0 675px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 32px 250px 0 716px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: -54px 760px 0 206px;
}

.u-section-1 .u-image-4 {
  width: 256px;
  height: 256px;
  margin: 115px auto 0 686px;
}

.u-section-1 .u-image-5 {
  width: 256px;
  height: 256px;
  margin: -256px auto 0 164px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 32px 210px 0 676px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: -66px 720px 0 166px;
}

.u-section-1 .u-image-6 {
  width: 256px;
  height: 256px;
  margin: 65px auto 0 431px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 32px 454px 0 432px;
}

.u-section-1 .u-image-7 {
  width: 256px;
  height: 256px;
  margin: 59px auto 0 175px;
}

.u-section-1 .u-image-8 {
  width: 256px;
  height: 256px;
  margin: -256px auto 0 716px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: 32px 168px 0 718px;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: -66px 720px 0 166px;
}

.u-section-1 .u-image-9 {
  width: 256px;
  height: 256px;
  margin: 107px auto 0 165px;
}

.u-section-1 .u-image-10 {
  width: 256px;
  height: 256px;
  margin: -256px auto 0 716px;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  margin: 42px 720px 0 166px;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  margin: -64px 196px 0 690px;
}

.u-section-1 .u-image-11 {
  width: 256px;
  height: 256px;
  margin: 102px auto 0 716px;
}

.u-section-1 .u-image-12 {
  width: 256px;
  height: 256px;
  margin: -256px auto 0 175px;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: 32px 720px 0 166px;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  margin: -63px 168px 0 718px;
}

.u-section-1 .u-image-13 {
  width: 256px;
  height: 256px;
  margin: 103px auto 0 163px;
}

.u-section-1 .u-image-14 {
  width: 259px;
  height: 259px;
  margin: -256px auto 0 718px;
}

.u-section-1 .u-text-14 {
  font-size: 1.875rem;
  margin: 29px 720px 0 166px;
}

.u-section-1 .u-text-15 {
  font-size: 1.875rem;
  margin: -61px 168px 0 718px;
}

.u-section-1 .u-image-15 {
  width: 256px;
  height: 256px;
  margin: 101px auto 0 163px;
}

.u-section-1 .u-image-16 {
  width: 256px;
  height: 256px;
  margin: -254px auto 0 716px;
}

.u-section-1 .u-text-16 {
  font-size: 1.875rem;
  margin: 30px 720px 0 166px;
}

.u-section-1 .u-text-17 {
  font-size: 1.875rem;
  margin: -61px 168px 0 718px;
}

.u-section-1 .u-image-17 {
  width: 259px;
  height: 259px;
  margin: 62px auto 0 429px;
}

.u-section-1 .u-text-18 {
  font-size: 1.875rem;
  width: 254px;
  margin: 35px auto 60px;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 254px;
  margin: -6619px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 123px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -371px;
    margin-left: 328px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -177px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -177px;
    margin-left: 135px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 549px;
  }

  .u-section-1 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 53px;
    margin-right: 138px;
    margin-left: 629px;
  }

  .u-section-1 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -66px;
    margin-right: 600px;
    margin-left: 165px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 151px;
    margin-right: 97px;
    margin-left: 684px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 65px;
    margin-right: 96px;
    margin-left: 591px;
  }

  .u-section-1 .u-text-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 560px;
    margin-left: 126px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 112px;
  }

  .u-section-1 .u-text-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 254px;
    margin-top: 53px;
    margin-left: 332px;
    margin-right: 354px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 52px;
    margin-left: 97px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 74px;
    margin-left: 684px;
  }

  .u-section-1 .u-text-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 62px;
    margin-right: 65px;
    margin-left: 621px;
  }

  .u-section-1 .u-text-9 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 600px;
    margin-left: 86px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 97px;
    margin-left: 86px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 83px;
    margin-left: 684px;
  }

  .u-section-1 .u-text-10 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 54px;
    margin-right: 589px;
    margin-left: 97px;
  }

  .u-section-1 .u-text-11 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -66px;
    margin-right: 95px;
    margin-left: 591px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 151px;
    margin-right: 97px;
    margin-left: 684px;
  }

  .u-section-1 .u-image-12 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-12 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 49px;
    margin-right: 587px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-13 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -83px;
    margin-right: 104px;
    margin-left: 582px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 95px;
    margin-left: 86px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -246px;
    margin-right: 99px;
    margin-left: 681px;
  }

  .u-section-1 .u-text-14 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 36px;
    margin-right: 598px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-15 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -66px;
    margin-right: 104px;
    margin-left: 582px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 83px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-16 {
    margin-top: -256px;
    margin-right: 102px;
    margin-left: 684px;
  }

  .u-section-1 .u-text-16 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 62px;
    margin-right: 599px;
    margin-left: 87px;
  }

  .u-section-1 .u-text-17 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -96px;
    margin-right: 84px;
    margin-left: 602px;
  }

  .u-section-1 .u-image-17 {
    margin-top: 78px;
  }

  .u-section-1 .u-text-18 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: 68px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 397px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 28px;
    margin-left: 519px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 546px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-right: auto;
    margin-left: 464px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 467px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 450px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 222px;
    margin-right: 244px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 464px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 466px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    margin-left: 464px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 466px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 464px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 466px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 461px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 466px;
  }

  .u-section-1 .u-image-16 {
    margin-left: 464px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 466px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 466px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 322px;
    margin-left: 145px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 342px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -365px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 2767px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -2662px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 159px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 173px;
    margin-top: -66px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 174px;
    margin-top: -380px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 876px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -723px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 253px;
    margin-top: 510px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 254px;
    margin-top: -540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 528px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 43px;
    margin-right: 154px;
    margin-left: 132px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 171px;
    margin-right: auto;
    margin-left: 120px;
  }

  .u-section-1 .u-text-8 {
    width: 254px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: 254px;
    margin-top: -501px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-9 {
    margin-top: 491px;
    margin-left: 120px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 144px;
    margin-right: auto;
    margin-left: 120px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -362px;
    margin-right: 174px;
    margin-left: 112px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 336px;
    margin-right: 166px;
    margin-left: 120px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 459px;
    margin-right: auto;
    margin-left: 132px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -672px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 36px;
    margin-right: 153px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 322px;
    margin-right: 153px;
    margin-left: 133px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 54px;
    margin-left: 132px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 187px;
    margin-right: auto;
    margin-left: 131px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -408px;
    margin-right: 132px;
    margin-left: 154px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 377px;
    margin-right: 153px;
    margin-left: 133px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 58px;
    margin-left: 132px;
  }

  .u-section-1 .u-image-16 {
    margin-top: 172px;
    margin-right: auto;
    margin-left: 132px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -392px;
    margin-right: 153px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 358px;
    margin-right: 130px;
    margin-left: 156px;
  }

  .u-section-1 .u-image-17 {
    margin-top: 64px;
    margin-left: 152px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 112px;
    margin-left: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7057px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -66px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 2622px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -2524px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 120px;
  }

  .u-section-1 .u-text-3 {
    width: 174px;
    margin-top: -28px;
  }

  .u-section-1 .u-text-4 {
    width: 172px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 836px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -697px;
  }

  .u-section-1 .u-text-5 {
    width: 254px;
    margin-top: 485px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -501px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 489px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: 44px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 152px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: -472px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 487px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: 172px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: 254px;
    margin-top: -388px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    width: 254px;
    margin-top: 354px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-11 {
    margin-top: 481px;
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-top: -668px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 40px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-1 .u-text-13 {
    width: 254px;
    margin-top: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-13 {
    margin-left: auto;
  }

  .u-section-1 .u-image-14 {
    margin-top: 144px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    width: 254px;
    margin-top: -377px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    width: 254px;
    margin-top: 365px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-15 {
    margin-top: 54px;
    margin-left: auto;
  }

  .u-section-1 .u-image-16 {
    margin-top: 149px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    width: 254px;
    margin-top: -383px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-17 {
    width: 254px;
    margin-top: 339px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-17 {
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    margin: 26px auto 0;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.875rem;
  }
}